.account {
  display: flex;
  align-items: center;
  > li {
    margin: 0 0 0 16px;
  }
  button {
    border: 1px solid #e2e8f0;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
  }
}
