.list {
  width: 100%;
}
.lib {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid var(--main-slate);
  border-radius: 4px;
  padding: 7px 8px;
  margin: 0 0 8px 0;
}
