.title {
  margin: 0 0 16px 0;
  display: flex;
  align-items: center;
  h3 {
    flex: 2;
  }
  select {
    border: 1px solid var(--main-slate-deep);
    border-radius: 4px;
    padding: 3px 20px;
    margin: 0 0 0 20px;
  }
  p {
    font-size: 14px;
  }
}
.lists {
  min-height: 100dvh;
}
.libItem {
  display: flex;
  align-items: center;
  margin: 24px 0;
  border-bottom: 2px solid var(--main-slate-deep);
  padding: 4px 5px;
  span {
    flex: 2;
  }
  button {
    padding: 2px;
    margin: 0 0 0 20px;
  }
}
.myList {
  margin: 0 16px 0 8px;
}
.favoriteLib {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid var(--main-slate);
  border-radius: 4px;
  padding: 7px 8px;
  margin: 0 0 8px 0;
  > p:first-of-type {
    margin: 0 32px 0 0;
  }
}
