.title {
  margin: 0 0 16px 0;
  h3 {
    margin: 0 0 32px 0;
  }
  select {
    border: 1px solid #94a3b8;
    border-radius: 4px;
    padding: 3px 20px;
  }
}
.lists {
}
.libItem {
  display: flex;
  align-items: center;
  margin: 24px 0;
  border-bottom: 2px solid #94a3b8;
  padding: 4px 5px;
  span {
    flex: 2;
  }
  button {
    padding: 2px;
    margin: 0 0 0 20px;
  }
}
