.lib {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 240px;
  border: 1px solid var(--main-slate);
  border-radius: 4px;
  padding: 7px 8px;
  margin: 0 0 8px 0;
  > p:first-of-type {
    margin: 0 32px 0 0;
  }
}
