.header {
  width: 100%;
  border-bottom: 1px solid #e2e8f0;
  h1 {
    font-family: 'MaruBuri-Bd';
    font-size: 32px;
  }
  nav {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 16px;
  }
}
