.header {
  width: 100%;
  border-bottom: 1px solid #e2e8f0;
  h1 {
    font-family: 'MaruBuri-Bd';
    font-size: 32px;
    margin-right: 56px;
  }
  nav {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    > div {
      display: flex;
      align-items: center;
      > ul {
        display: flex;
        > li {
          margin-left: 24px;
        }
      }
      @media (max-width: 768px) {
        flex-direction: column;
      }
    }
  }
}
