.best {
}
.title {
  border-left: 4px solid var(--main-slate-deep);
  padding-left: 16px;
  margin: 10px 0 24px 0;
  p {
    margin-top: 5px;
    font-size: 15px;
  }
}
.lists {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
