$green: '#86efac';
$green-deep: '#22c55e';
$green-light: '#dcfce7';
$slate: '#e2e8f0';
$slate-deep: '#94a3b8';
$slate-light: '#f8fafc';

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
p {
  font-family: 'LINESeedKR-Th';
}
strong {
  font-family: 'LINESeedKR-Rg';
}
