.form {
  padding: 40px 32px;
  color: #737373;
  > span {
    display: flex;
    align-items: baseline;
    max-width: 70%;
    margin: 5px 0 16px 0;
    padding: 0 16px;
    label {
      margin: 0 20px 0 0;
    }
    input {
      border: none;
      border-bottom: 2px solid var(--main-slate);
      padding: 5px;
      flex: 2;
      &:focus {
        outline: none;
      }
    }
  }
  @media (max-width: 768px) {
    > span {
      flex-direction: column;
      label {
        margin: 8px 0 4px 0;
      }
    }
  }
}
.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 0;
  > input[type='checkbox'] {
    margin: 0 4px;
  }
  > button {
    background: #dcfce7;
    border: 1px solid #dcfce7;
    border-radius: 4px;
    padding: 7px 32px;
    margin: 0 3px;
    &:hover {
      border: 1px solid #86efac;
    }
  }
}
