.detail {
}
.intro {
  max-width: 760px;
  min-height: 70dvh;
  margin: 0 auto;
  padding: 48px 16px;
  display: flex;
}
.image {
  margin: 0 40px 0 0;
}
.title {
  h4 {
    font-size: 21px;
    margin: 8px 0 24px 0;
  }
}
.info {
}
