.detail {
  max-width: 760px;
  min-height: 70dvh;
  margin: 0 auto;
  padding: 48px 16px;
}
.intro {
  display: flex;
}
.image {
  margin: 0 40px 0 0;
}
.title {
  h4 {
    font-size: 21px;
    margin: 8px 0 24px 0;
  }
  > span {
    display: flex;
    align-items: start;
    margin-bottom: 8px;
    button:first-of-type {
      margin-right: 12px;
    }
  }
}
.info {
}
.moreInfo {
  width: 100%;
  margin: 32px 0 16px 0;
  display: flex;
  overflow-x: scroll;
}
